#live_data {
    height: 100%;
}
#dashboard_menu {
    width: 150px;
    float: right;
    height: 80vh;
    overflow-y: none;
    display: none;
    position: absolute;
    z-index: 100;
    background: #282a36;
    border: none;
    padding: 5px;

}

#dashboard_container {
    display: grid;
    grid-template-columns: repeat(24, minmax(0,1fr));
    grid-template-rows: repeat(14, minmax(0,1fr));

    align-content: center;

    width: 100%;
    height: 100%;
}

#dashboard_container.dragging {
    border-top: 1px dotted black;
    border-left: 1px dotted black;
}

.dots-listener {
    user-select: none;
}

#dashboard_container.dragging > .dots-listener {
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
}

.dots-widget {
    margin: auto;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: pointer;
}

.selected_widget {
    transition: all .2s ease-in-out;
    border-radius: 2px;
    border: 2px dashed #FBBD2D;
    padding: 4px 0 4px 0;
    will-change: border;
}
.selected_widget > .text-widget {
    border: none;
}


.widget_setting_dialog {
    z-index: 200;
    position: absolute;
    top: calc(50% - 10vw);
    left: calc(50% - 10vw);
    width: 20vw;
    min-width: 150px;
}

.widget_setting_dialog input, .widget_setting_dialog label, .widget_setting_dialog select {
    width: 100%;
}


.text-widget {
    padding: 5px;
    cursor: default;
    border: 2px solid #FBBD2D;
    border-radius: 4px;
}

.text-widget span {
    display: block;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.text-widget .title-span {
    top: 0px;   
    font-size: 1.5rem;
}

.text-widget .value-span {
    font-size: 2rem;
    color: #FBBD2D;
}

.text-widget .unit-span {
    bottom: 0px;   
    font-size: 0.75rem;
}


#widget_buttons_toolbar {
    display: none;
}

#widget_buttons_toolbar button {
    cursor: pointer;
    position: relative;
    left: -3em;
    top: -3em;
    z-index: 20;
    width: 3em;
    height: 3em;
    border: 0;
}

.widget-button-icon {
    width: 2em;
    height: 2em;
}

